<div class="jumbotron">
  <h1 class="display-4">A book quiz</h1>
  <p class="lead">A few questions about classic books and authors.</p>
  <hr class="my-4">
  <p>There are five questions, and once they are all answered, you will see how others answered, too.</p>
  <a class="btn btn-primary btn-lg" href="<%= new_quiz_path %>" role="button">Start</a>
</div>
